boto3
botocore
sagemaker
pandas
numpy
matplotlib
seaborn
profanity
beautifulsoup4
configparser
scipy
pyarrow
transformers
scikit-learn
torch
tensorflow
newspaper3k
pytrends
googlesearch-python
statsmodels
kneed
imblearn